#contenedorPadre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

@media (max-width: 768px) {
    #contenedorPadre {
        flex-direction: column;
        /* Cambia la dirección a columna en pantallas pequeñas */
    }
}

#ConteHijos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 150px;
    max-width: 300px;
    height: 200px;
    background-color: lightblue;
    margin: 10px;
    overflow: hidden;
    /* Opcional, para ocultar contenido extra */
}